body {
	height: 1000px;
	text-align: left;
	font-family: sans-serif;
}

/*HEADER*/

#header-nav {
	background-color: grey;
	border-radius: 0;
	border: 3px solid black;
}

.navbar-brand a {
	font-size: 1.5em;
	font-weight: bold;
	color: #000000;
	text-shadow: 1px 1px 1px #222;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


#collapsable-nav {
	position: relative;
	font-weight: bold;
	color: black;
}

#nav-list {
	background-color: lightblue; 
}



li {
	position: relative;
	top: 0;
	border: 1px solid black;
}

/*TEXT*/

p {
  font-size: 2em;
}


/*collumn with text*/

.col-12 {
	text-align: center;
	background: grey;
}

h2.chicken {
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 2em;
}

.col-12 p {
	font-size: 1em;
	padding: 10px;
	text-align: left;
}


/*responsive rules for large devices*/
@media (min-width: 992px) {

	ul {
		display: none;
	}
}


/*responsive rules for medium devices*/

@media (min-width:768px) and (max-width:991px) {
    
     ul {
		display: none;
	}

	.row {
		margin-top: 0;
	}
}

/*responsive rules for small devices*/

@media (max-width: 767px) {

	.row {
		margin: 3em;
		margin-top: 0;
	}
}



